<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Modificar Ahorro</title>
    <link rel="stylesheet" href="/static/index.css" />
</head>
<body>
    <div class="container">
        <h1>Modificar Ahorro</h1>
        <form method="post" action="/modificar/{{ id }}">
            <input type="number" name="monto" placeholder="Monto" required value="{{ saving[1] }}" class="input_field monto_field" />
            <input type="number" step="0.01" name="interes" placeholder="Interés" required value="{{ saving[2] }}" class="input_field interes_field" />
            <input type="number" name="periodo" placeholder="Periodo" required value="{{ saving[3] }}" class="input_field periodo_field" />
            <button type="submit" class="btn add_btn">Guardar cambios</button>
            <a href="/" class="btn" style="background:#ccc; color:#000; margin-left: 10px;">Cancelar</a>
        </form>
    </div>
</body>
</html>
